@import "../base";
.apod_container {
    @include sflex;
    .apod_controls {
        width: 60vw;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .apod_control {
            @include glowBox(#eae);
            background-color: #222;
            color: #aea;
            padding: 0.5rem 1rem;
            border-radius: 50%;
        }
    }
    .image_container {
        @include glowBox(white);
        width: 60vw;
        padding: 1rem;
        img {
            padding: 0;
            width: 100%;
            border-radius: 0.5rem;
            border: 0.1rem inset white;
        }
        .title_container {
            width: 100%;
            color: black;
            h2 {
                margin: 0;
                padding-top: 0.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }
    .explanation_container {
        width: 60vw;
        margin-top: 2rem;
        @include glowBox(#eae);
        background-color: #222;
        color: #eae;
        font-size: 0.9rem;
        padding: 0 1rem;
        text-align: left;
    }
}
